@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* banner section style starts here */
.banner-container{
    width: 1440px;
    min-height: 652px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('../assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 582px;
}
.banner-content h1{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
}
.banner-content p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}
.banner-content button{
    background-color: rgb(13, 19, 33);
    color: white;
    border-radius: 8px;
    height: 66px;
    width: 208px;
    padding: 21px 24px 21px 24px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
a{
     background-color: transparent;
    text-decoration: none;
    color: white;
}
.banner-content img{
    height: 240px;
    width: 240.28px;
    margin-top: 26px;
}
/* main section starts here */
.develope-container{
    width: 1140px;
    min-height: 1050px;
    margin: 0 auto;
    margin-top: 66px;
    background-color: rgba(13, 19, 33, 0.02); 
    border-radius: 16px;
}
.develope-content{
    width: 946px;
    min-height: 900px;
    margin-top: 80px;
    margin: 0 auto;
}
.develope-content-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 115px;
    width: 852px;
    margin-top: 90px;
}
.develope-content-head h1{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}
.develope-content-head p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}
.develope-content-body{
    width: 946px;
    height: 1072px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.develope-content-child1{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    height: 336px;
    width: 946px;
    margin-top: 48px;
}
.develope-content-child1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 240px;
    gap: 99.77px;
}
.develope-content-child11{
    height: 219px;
    width: 477px;
}
.develope-content-child11 h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-style: 700;
    text-align: left;
}
.develope-content-child11 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-style: 400;
    text-align: left;
    margin-top: 16px;
}
.develope-content-child11 button{
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
.develope-content-child12{
    height: 217.01px;
    width: 259.56px;
}
.develope-content-child2{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    height: 336px;
    width: 946px;
    margin-top: 48px;
}
.develope-content-child2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 240px;
}
.develope-content-child22 h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-style: 700;
}
.develope-content-child22 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-style: 400;
    text-align: left;
    margin-top: 16px;
}
.develope-content-child22 button{
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
.develope-content-child3{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    height: 336px;
    width: 946px;
    margin-top: 48px;
}
.develope-content-child3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 240px;
}
.develope-content-child31 h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-style: 700;
}
.develope-content-child31 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-style: 400;
    text-align: left;
    margin-top: 16px;
}
.develope-content-child31 button{
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
.inspiration{
    min-height: 775px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 96px;
    align-items: center;
    justify-content: center;
}
.inspiration h1{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiration p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 28px;
}
.inspiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 0 auto;
    height: 614px;
    padding: 32px;
    margin-top: 60px;
}
.target{
    min-height: 460px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 151px;
    align-items: center;
    justify-content: center;
}
.target-head h1{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.target-head p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
    opacity: 0.7;
}
.target-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}
.target-body-1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    height: 299px;
    width: 364px;
}
.target-child{
    width: 284px;
    height: 219px;
    padding: 40px;
}
.target-child h1{
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target-child p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.btn-primary u{
    font-size: 16px;
font-weight: 700;
margin-top: 24px;
}
.target-body-2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    height: 299px;
    width: 364px;
}
.target-child h1{
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target-child p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.target-body-3{
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);;
    height: 299px;
    width: 364px;
}
.target-child h1{
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target-child p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.support{
    height: 325px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 49px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.support h1{
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 5px;
}
.support p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
}
form{
    width: 684px;
height: 57px;
margin: 0 auto;
margin-top: 24px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.support-body{
    padding: 64px 48px;
}
.feedback{
    width: 548px;
height: 57px;
align-items: center;
border-radius: 8px;
text-align: left;
padding-left: 20px;
border: none;
font-size: 16px;
font-weight: 400;
}
.push{
    width: 120px;
height: 57px;
align-items: center;
border-radius: 8px;
font-size: 20px;
font-weight: 600;
border: none;
}
.foot{
    width: 1440px;
height: 100px;
margin: 0 auto;
margin-top: 80px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
text-align: center;
}
.foot-content{
    align-items: center;
    padding: 0px 150px;
    width: 1140px;
   display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.foot-content-1{
    font-size: 20px;
font-weight: 600;
text-align: left;
}
.foot-content-2{
    width: 157.01px;
height: 36px;
margin-left: 200px;
}